{% extends 'adminapp/base.html' %}
{% load static %}
{% block container %}
{% block admin_nav%}
{{ block.super }}
{% endblock %}
    <div class="products_container">
        {% for object in object_list %}
        <div class="product_str">
            <div class="product_img">
                {% block img %}
                <img src="{{ object.collection_title_img }}">
                {% endblock %}
            </div>
            <div class="product_inf">
                <p><strong>{{ object.collection_name|title }}</strong></p>
                {% if not object.collection_is_active %}
                    <danger>not active</danger>
                {% endif %}
                <div class="btn_a">
                    <a href="{% url 'admin:collections_update' object.pk %}">edit</a>
                    <a href="{% url 'admin:collections_delete' object.pk %}">delete</a>
                </div>
            </div>
        </div>
        {% endfor %}
    </div>
{% endblock %}

