{% extends 'adminapp/base.html' %}
{% load static %}
{% block container %}
    <div class="products_container">
        {% for object in object_list %}
        <a class="product_str" href="{% url 'admin:products_update' object.pk %}">
            <div class="product_img">
                <img src="{{ object.img_img }}">
            </div>
            <div class="product_inf">
                <p>Name: {{ object.img_name }}</p>
                <p>Collection name: {{ object.img_collection }}</p>
            </div>
        </a>
        {% endfor %}
    </div>
{% endblock %}