{% extends 'index.html' %}
{% load static %}
{% block title %}{{ title }}{% endblock %}
{% block container %}
<h1>COLLETIONS</h1>
<div class="content_collections">
    <ul class="catalog_list">
    {% if collections %}
        {% for collection in collections %}
        <a href="/collections/{{ collection.collection_name }}/">
        <li><h2>{{ collection.collection_name | title }}</h2></li>
        <li><img src="/media/{{ collection.collection_title_img }}"></li>
        </a>
        {% endfor %}
    {% else %}
        <h2>The directory is empty.</h2>
    {% endif %}
    </ul>
</div>
{% endblock %}