{% extends 'index.html' %}
{% load static %}
{% block title %}collections{% endblock %}
{% block css_js %}
{{ block.super }}
<link rel="stylesheet" href="{% static 'css/style_pg.css' %}" />
{% endblock %}
{% block container %}
<main class="container_pg">

  <!-- Left Column / Headphones Image -->
  <div class="left-column">
    <div class="slideshow-container">
      {% for img in current_wallpaper_img %}
      <div class="mySlides fade">
        <img id="color_image" src="/media/{{ img }}.jpg">
      </div>
      {% endfor %}
    </div>
  </div>

  <!-- Right Column -->
  <div class="right-column">

    <!-- Product Description -->
    <div class="product-description">
      <span>Wallpaper</span>
      <h1>{{ current_collection.collection_name }}</h1>
      <p>{{ current_collection.collection_description }}</p>
    </div>

    <!-- Product Configuration -->
    <div class="product-configuration">

      <!-- Product Color -->
      <div class="product-color">
        <span>Color</span>
        <div>
          {% for img in current_wallpaper_img %}
          <span class="dot" onclick="currentSlide({{ forloop.counter }})"></span>
          {% endfor %}
        </div>
      </div>
      <script type="text/javascript" src="{% static 'js/slider.js' %}"></script>
      <!-- Contact Us -->
      <div class="contact-us">
        <a href="{% url 'contacts' %}">How to contact us</a>
      </div>
    </div>

    <!-- Product Pricing -->
    <div class="product-price">
      <span>{{ current_collection.collection_price }}$</span>
      <a href="{% url 'basket:add' 1 %}" class="cart-btn">Checkout</a>
    </div>
  </div>
</main>
{% endblock %}